.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0b0d11;
    color: #e2e2e2;
    padding: 20px;
}

.sidebar::after {
    content: "";

    position: absolute;

    top: 50;
    right: 0;

    width: 2px;
    height: 90%;

    background: linear-gradient(
        transparent,
        rgba(230, 158, 114, 0.596),
        transparent
    );
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 0.9;
}

.logo span {
    color: #e9a071;
    text-shadow: 0 0 10px rgba(221, 152, 3, 0.5);
    font-size: 2.9rem;
    margin-left: 40px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar li {
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
}

.sidebar svg {
    width: 22px;
    height: 22px;
}

li.menu-item {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

li.menu-item:hover {
    color: #e2e2e2c0;
    cursor: pointer;
    transform: scale(1.05);
}


.last-menu-item{
    margin-bottom: none;
}

.sidebar-divider {
    width: 60%;
    height: 1px;

    background: linear-gradient(
        transparent,
        rgba(230, 158, 114, 0.596),
        transparent
    );

    margin: 30px auto;
}

.active-menu-item {
    color: #e9a071;
}

.active-menu-item::before {
    content: "";

    width: 3px;
    height: 24px;

    background: #e9a071;
}

h3{
    font-size: .85rem;
    letter-spacing: 2px;
    color: #6b7280;
    text-transform: uppercase;
    margin-bottom: -20px;
}

@media (max-width: 768px){

    .sidebar{
        position: fixed;

        left: -250px;
        top: 0;

        width: 250px;
        height: 100vh;

        z-index: 999;

        transition: left .3s ease;
    }

    .sidebar.active{
        left: 0;
    }

}